* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: hsl(210, 63%, 64%);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #bb3b3b;
    font-family: "Arial", sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}

p {
    font-family: "Verdana", sans-serif;
    font-size: 18px;
}

nav {
    background-color: #4a90e2;
    padding: 10px;
    text-align: center;
}

a {
    font-family: "Verdana", sans-serif;
    font-size: 16px;
    color: hsl(0, 51%, 65%);
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

nav a:hover {
    background-color: #007ccfff;
    transition: background-color 0.4s;
}

main {
    background-color: #3d5e91;
    padding: 0px 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edededff;
    padding: 20px;
    width: 800px;
    max-width: 100%;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}

section h2 {
    font-family: "poppins", sans-serif;
    font-size: 28px;
    color: #5e1f1f;
    text-align: center;
    margin-bottom: 20px;
}

section h3 {
    font-family: "poppins", sans-serif;
    font-size: 22px;
    margin: 15px;
    color: #4a90e2ff;
}

section p {
    line-height: 1.6;
    font-size: 16px;
    color: #a7332b;
}

img {
    max-width: 100%;
    margin-top: 10px;
}

.nome-autor-data {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}